div {
    display: inline-block;
    width: 200px;
    height: 200px;
}

#border {
    border: 1px solid black;
    width: 197px;
    height: 197px;
}

.red {
    background-color: red;
}

.blue {
    background-color: deepskyblue;
}

.green {
    background-color: seagreen;
}

.yellow {
    background-color: yellow;
}